
*,
*::after,
*::before{

margin:0;
padding:0;

}

html{

    font-size: 100%;
    width: 100%;
    height: 100%;
    margin:0;
  
    

}
body{

  
        overflow: hidden; /* Hide scrollbars */
        margin: 0;
        background-color: grey;
       


}

.navbar{
display:grid;
grid-template-columns: 20% 60% 20%;
width:100vw;
height:47px;
background:white;

}

.dropdown{
    grid-column: 1/2;
    width:100%;
    height:100%;
    background-color:red;
    position: relative;
}

.test{
    display:flex;
    width:100%;
    height:47px;
    background-color: white;
    justify-content: center;
    align-items: center;
}
#Layer{
    width:30px;
    height:20px;
    fill:white;
    
}

.dropdown-content{
    display:flex;
    
    justify-content: center;
    position: absolute;
    flex-direction: column;
    width:0vw;
    height:92.3vh;
    background-color:white;
    
}

.item{
    display:none;
    display:flex;
    width: 99%;
    height:100%;
    justify-content: center;
    align-items: center;
    border-bottom:2px solid black;
}
.item:nth-child(1){
    background-image: url(./fire2.svg);
   background-position: right;
   background-size:cover;
   background-repeat: no-repeat;
   border-top:2px solid black;
   
 
}

.item:nth-child(2){
    background-image: url(./ocean.svg);
   background-position: bottom;
   background-size:cover;
   background-repeat: no-repeat;
   background-size: 400px;
 
}
.item:nth-child(3){
    background-image: url(./thunder.svg);
   background-position: center;
   background-size:contain;
   background-repeat: no-repeat;
   
 
}

.item:nth-child(4){
    background-image: url(./earth.svg);
   background-position: center;
   background-size:cover;
   background-repeat: no-repeat;
   
 
}

a{
    display:none;
}
.font1{
   
    background: -webkit-linear-gradient(red,orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-family: 'Bangers', cursive;
    letter-spacing: 8px;
    

}

.font2{
   
    background: -webkit-linear-gradient(rgb(0, 128, 255),rgb(8, 8, 174),white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-family: 'Bangers', cursive;
    letter-spacing: 8px;
    

}

.font3{
   
    background: -webkit-linear-gradient(purple,purple,white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-family: 'Bangers', cursive;
    letter-spacing: 8px;
    

}

.font4{
   
    background: -webkit-linear-gradient(brown,orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-family: 'Bangers', cursive;
    letter-spacing: 8px;
    

}

@keyframes menu{
    0%{
        height:92.3vh;
        width:0vw;
        visibility: visible;
        
    }
    10%{
        height:92.3vh;
        width:0vw;
    }
    100%{
    
     width:100vw;
    height:92.3vh;
    visibility: visible;
        
    
    
    }}

    @keyframes menu2{
        0%{
            width:100vw;
            height:92.3vh;
            visibility: visible;
        }
  
        100%{
        
        width:100vw;
        height:92.3vh;
        visibility: visible;
            
        height:92.3vh;
            width:0vw;
            visibility: visible;
        
        
        }}
    

